sonar.host.url=${SONARQUBE_HOST}
sonar.login=${SONARQUBE_TOKEN}

sonar.projectKey=${PROJECT_KEY}
sonar.projectName=${PROJECT_NAME}
sonar.projectVersion=${PROJECT_VERSION}
sonar.sourceEncoding=UTF-8
sonar.sources=src
sonar.exclusions=**/node_modules/**,**/*.spec.ts
sonar.tests=src
sonar.test.inclusions=**/*.spec.ts

#sonar.typescript.node=
#sonar.typescript.exclusions=
sonar.typescript.lcov.reportPaths=coverage/lcov.info
