<!--The content below is only a placeholder and can be replaced.-->
<div class="container client-offset">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Project Talan - Angular skeleton</h1>
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark">Angular with CLI</li>
      <li class="list-group-item list-group-item-secondary">Dockerazied with NGINX</li>
      <li class="list-group-item list-group-item-dark">Integration with SonarQube</li>
      <li class="list-group-item list-group-item-secondary">Quick management with Talan</li>
      <li class="list-group-item list-group-item-dark">...</li>
    </ul>
    <hr class="my-4 d-none">
    <p class="d-none">...</p>
    <div style="text-align:center">
      <img width="96" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <p class="lead text-right">
      <a class="btn btn-primary btn-lg" href="#" role="button" href="https://github.com/project-talan/tln-angular">Learn more</a>
    </p>
  </div>
</div>
